<section class="dashboard-page">
  <h1>Dashboard</h1>
  <p class="lead">Body sekcia dashboardu, pripravená na widgety.</p>
  <p class="lead">
    <a routerLink="/dashboard/canals">Otvoriť kanály widget</a>
  </p>

  <div class="stats">
    <article class="card">
      <h2>Sales</h2>
      <p>$244</p>
    </article>
    <article class="card">
      <h2>Cost</h2>
      <p>$199.4</p>
    </article>
    <article class="card">
      <h2>Users</h2>
      <p>900</p>
    </article>
    <article class="card">
      <h2>Products</h2>
      <p>500</p>
    </article>
  </div>

  <div class="stats mt-6">
    <article class="card">
      <app-municipality-overview
        [limit]="8"
        scope="dashboard"
        allLink="/dashboard/events"
        title="Miesta podujatí"
      />
    </article>
    <article class="card">
      <h2>Cost</h2>
      <p>$199.4</p>
    </article>
    <article class="card">
      <h2>Users</h2>
      <p>900</p>
    </article>
    <article class="card">
      <h2>Products</h2>
      <p>500</p>
    </article>
  </div>

  <!-- <section class="dashboard-overview">
    <app-municipality-overview
      [limit]="8"
      scope="dashboard"
      allLink="/dashboard/events"
      title="Obce s podujatiami"
    />
  </section> -->
</section>
